// Declare the mixin
@mixin color-change {
    &:hover {
      color: red;
    }
    &:focus {
      color: orange;
    }
    &:active {
      color: blue;
    }
  }
  
  // Apply the mixin to selectors
  .example1 {
    @include color-change;
  }
  
  .example2 {
    @include color-change;
  }
  